body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E8F1F2;
    background-image: url(../1200x675.jpg);
    background-size: cover;
}

.elenco{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.atores{
    display: flex;
    flex-direction: row;
    border: 10px;
    display: block;
}

p{
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF
}

h2{
    margin-right: 400px;
    margin-left: 400px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #964b00;
}

ul{
    height: 100%;
    list-style: none;
    font-size: 20px;
    padding: 20px 4%;
    line-height: 40px;
}

ul li a .text{
    margin-left: 70px;
}

ul li a .icon > i{
    font-size: 30px;
}

li{
    margin: 0px 20px;
}

h1{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: rgba(0, 0, 0, 0.6);
}

figcaption{
    color: #FFFFFF;
}

h4{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.6);
}

.img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

nav{
    width: 80px;
    height: 100%;
    background-color: #f2dfd3;
    padding: 40px 0px 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu.expandir{
    width: 300px;
}

.menu-lateral{
    width: 100%;
    padding-left: 10px;
}

.menu-lateral > i{
    color: #964b00;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .img{
        max-width: 100px;
        max-height: 100px;
    }

    .elenco{
        grid-template-columns: repeat(1, 1fr);
    }
}